<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Bioreports</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<style>
    body    { padding:1.5em;}
    .contentInfo {border: aqua; border-style: solid; padding: 1em;}
</style>
