<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>   
<body>
    <header>
        <% include ../partials/header %>
    </header>
    
    <h1>Report from Bioreports</h1>
    <h2>Detailed report</h2>

    <%if (details.reportType == 1) { %>
        <% include ../partials/diseaseDetail %>
    <% } else { %>
        <% include ../partials/ancestryDetail %>
    <% } %>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>