<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>   
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <h1>Bioreports</h1>
    <h2>Error ocurred</h2>

    <div class="contentInfo">
        <p>
            Upload result: <%= error %>
        </p>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>