<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>       
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <h1>Hello from Bioreports</h1>
    <h2>From this site you will be able to generate genetic reports from yor SNPs raw data.</h2>

    <div class="contentInfo">
        <p>
            Please either choose a SNP raw data file or type your data in the text area and press Upload.
        </p>
        <form action="/upload" enctype="multipart/form-data" method="post" id="uploadForm">
            <div class="form-group">
                <label for="filenameInput">Filename: </label>
                <input type="text" name="fileName" id="filenameInput">    
            </div>
            
            <div class="form-group">
                <label for="fileInput">Enter your snp file: </label>
                <input type="file" name="snpFile" class="form-control-file" id="fileInput">
            </div>
            
            <div class="form-group">
                <label for="textInput">Enter your snp file: </label>
                <textarea name="snpText" form="uploadForm" class="form-control" id="textInput">#Enter SNPs here...</textarea>                    
            </div>
        
            <input type="submit" class="btn btn-primary" value="Upload">
        </form>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>