<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>       
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <h1>Hello from Bioreports</h1>
    <h2>From this site you will be able to generate genetic reports from yor SNPs raw data.</h2>

    <%if (uploadResult) { %>
        <div class="alert alert-success">
            <p>
                <strong>File uploaded successfully!: </strong> <%= uploadResult %>
            </p>
        </div>
    <% } %>

    <div class="contentInfo">
        <p>
            Please either choose a SNP raw data file or type your data in the text area and press Upload.
        </p>
        <form action="/uploadFile" enctype="multipart/form-data" method="post" id="uploadForm">
            <div class="form-group">
                <input type="radio" name="reportType" value="1" checked>Human diseases<br>
                <input type="radio" name="reportType" value="2">Ancestors<br>
            </div>
            
            <div class="form-group">
                <label for="filenameInput">Filename: </label>
                <input type="text" name="fileName" id="filenameInput" placeholder="file name">    
            </div>
            
            <div class="form-group">
                <label for="fileInput">Enter your snp file: </label>
                <input type="file" name="snpFile" class="form-control-file" id="fileInput">
            </div>
            
            <div class="form-group">
                <label for="textInput">Enter your snp file (mandatory fields rsId, chr and position, separated by space): </label>
                <textarea name="snpText" form="uploadForm" class="form-control" id="textInput">#rsId    #chr    #position</textarea>
            </div>
        
            <input type="submit" class="btn btn-primary" value="Upload">
        </form>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>