<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>   
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <h1>Results from Bioreports</h1>
    <h2>From this site you will be able to see the uploaded files and available reports.</h2>

    <div class="contentInfo">
        <p>
            Upload result: <%= uploadResult %>
        </p>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>